@charset "utf-8";

@import "custom-variables"; // Must be before the Bootstrap stylesheets
@import "../bootstrap-sass-3.3.6/assets/stylesheets/bootstrap";

.container{
    @media (max-width: $screen-sm-max){
        margin-top: $jumbotron-padding/2;
        margin-bottom: $jumbotron-padding/2;
    }
    @media (min-width: $screen-md-min){
        margin-top: $jumbotron-padding * 2;
        margin-bottom: $jumbotron-padding * 2;
    }
}

.main-title{
    margin-left: 15%;
    margin-right: 15%;
}

.download-buttons{
    margin-top: $jumbotron-padding;

    @media (max-width: $screen-xs-max){
        li,
        .btn{
            display: block;
            margin-bottom: $jumbotron-padding/2;
        }
    }
}

.broj-odluka{

    &:not(:first-child),
    &:not(:last-child){
        margin-top: $padding-small-vertical;
        padding-bottom: $padding-small-vertical;
        border-bottom: $padding-xs-vertical solid $table-border-color;
    }
    
    &:last-child{
        border-bottom: none;
    }
}